.App {
  text-align: center;
}

.header {
background-color: rgb(198, 170, 170);
display: flex;
justify-content: center;
text-align: center;
color: blue;
}

.data {
  display: flex;
  justify-content: space-between;
}




