.App {
  text-align: center;
}

.header {
background-color: rgb(34, 8, 150);
text-align: center;
padding: 8px 0px 8px 0px;
display: flex;
justify-content: space-evenly;
}

.data {
  display: flex;
  justify-content: space-between;
}

h1 {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

}




