.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  color: white;
}

.header {
  background-color: #4834d4;
  padding: 14px;
  width: 100%;
}

.form {
margin-top: 16px;
}