.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

h1 {
  margin: 0;
}

.header {
  background-color: #3498db;
  color: #ecf0f1;
  padding: 14px;
  width: 100%;
}

.form {
 margin-top: 14px;
}