/* * {
  background-color: rgb(231, 221, 221);
} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

h1 {
  margin: 0;
}

.header {
  background-color: #3498db;
  color: #ecf0f1;
  padding: 14px;
  width: 100%;
}

.form {
 margin-top: 20px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.data_val {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0px 9px 0px 9px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 8px;
  color:rgb(15, 15, 235)

}